<!DOCTYPE html>

<html lang="en" data-theme="dark">
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link href="@{'/public/stylesheets/main.css'}" media="screen" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--    <link href="@{'/public/stylesheets/dark-mode.css'}" media="screen" rel="stylesheet">-->
    #{if style}
    <link href="/public/stylesheets/#{get 'style'/}" media="screen" rel="stylesheet">

    #{/if}
    <!--    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">-->
    <link href="@{'/public/images/favicon.ico'}" rel="shortcut icon" type="image/png">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <style>
        #pageContent {
            background-color: transparent;
        }
    </style>

</head>
<body>

#{render 'Application/tags/navbar.html', user:user/}
<div id="pageContent">
    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
#{doLayout /}
</div>
<script charset="${_response_encoding}" src="@{'/public/javascripts/jquery-1.6.4.min.js'}"
        type="text/javascript"></script>
<script src="@{'/public/javascripts/dark-mode-switch.min.js'}"></script>

<script crossorigin="anonymous"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
#{get 'moreScripts' /}


</body>
</html>
