#{extends 'main.html' /}
#{set title:'About' /}
#{set user:user /}
<h1>About</h1>
<p>
    This is a simple application to demonstrate the use of Play Framework. It tries to imitate a forum where users can create servers and chats and interact with each other.
</p>
<p>
    The application is built using Play Framework, Java, and Hibernate for the backend and Bootstrap for the frontend.
</p>
<p>
    The source code for this application can be found on <a href="http://github.com/Sergiogd112/Conectopia">GitHub</a>.
</p>