<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div><a aria-label="Conectopia" class="navbar-brand" href="@routes.HomeController.index()">
            <img alt="logo"
                 class="img-fluid" src="@{'/public/images/logo.png'}" style="width: 50px;
            height: 50px;" type="image/png"></a>
        </div>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                #{ifnot user}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                #{/ifnot}
                #{if user}
                <li class="nav-item">
                    <a class="nav-link" href="/servers">Servers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                #{/if}

            </ul>
            <div class="form-check form-switch" id="theme-selector">
                <input class="form-check-input" id="darkSwitch" role="switch" style="margin: 3px" type="checkbox">
                <label class="form-check-label" for="darkSwitch"><i class="bi bi-brightness-high-fill"></i></label>
            </div>
            <form class="d-flex" role="search">
                <input aria-label="Search" class="form-control me-2" placeholder="Search" type="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
