#{extends 'main.html' /}
#{set title:'DashBoard' /}
#{set user:user /}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenid@ a Conectopia</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .welcome-container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
<div class="container welcome-container">
    <h1 id="welcomeMessage">¡Bienvenid@ a Conectopia, ${user.username}</h1>
    <div id="userCredentials" class="mt-4">
        <p><strong>Nombre de usuario:</strong> <span id="username">${user.username}</span></p>
        <p><strong>Email:</strong> <span id="userEmail">${user.email}</span></p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>