#{extends 'main.html' /}
#{set title:'Servers' /}
#{set user:user /}
<h1>Servers</h1>servers.html
<button class="btn btn-primary" type="button">Create server</button>



#{if user}
    <div id="server-list">
        #{list user.members, as:'member'}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">#{get member.server.name}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        #{/list}
    </div>
#{/if}
