#{extends 'main.html' /}
#{set title:'Servers' /}
#{set user:user /}
<h1>Servers</h1>
<form id="createServerForm" onsubmit="/dashboard/server" style="display: none;" method="post">
    <div class="mb-3">
        <label class="form-label" for="serverName" >Server name</label>
        <input class="form-control" id="serverName" type="text" name="serverName">
    </div>
    <div class="mb-3">
        <label class="form-label" for="serverDescription">Description</label>
        <textarea class="form-control" id="serverDescription" rows="3" name="serverDescription"></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Create</button>
</form>
<button class="btn btn-primary" id="createButton" onclick="createForm()" type="button">Create server</button>


#{if user}
<div id="server-list">
    #{list user.members, as:'member'}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">#{get 'member.server.name' /}</h5>
            <p class="card-text">
                #{get 'member.server.description' /}
            </p>
            <a class="btn btn-primary" href="#">Go somewhere</a>
        </div>
    </div>
    #{/list}
</div>
#{/if}
<script src="@{'/public/javascripts/servers.js'}"></script>
