#{extends 'main.html' /}
#{set title:serverName /}
#{set user:user /}
<div class="modal fade" id="inviteuserModal" tabindex="-1" aria-labelledby="inviteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="inviteUserModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="inviteUserForm" action="/dashboard/server/${server.id}/invite" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="searchUser">Invite user</label>
                        <input class="form-control" id="searchUser" type="text" name="searchUser"
                               onkeyup="fuzzyFindUser()">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="searchUser">Search results</label>
                        <div id="searchResults" class="list-group">
                        </div>
                    </div>
                    <script src="@{'/public/javascripts/server.js'}"></script>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 id="serverName">${server.name}</h1>
    <div class="container">
        <span>Owner: ${server.getOwner().user.username}</span>
        <span>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inviteuserModal">
          Invite user
        </button>
        </span>
    </div>
    <p>
    ${server.description}
    </p>
</div>
<hr>
<div class="container">
    <h2>Chats</h2>
    <form id="createServerForm" action="/dashboard/server/${server.id}/chat" style="display: none;" method="post">
        <div class="mb-3">
            <label class="form-label" for="chatName">Chat name</label>
            <input class="form-control" id="chatName" type="text" name="chatName">
        </div>
        <div class="mb-3">
            <label class="form-label" for="chatDescription">Description</label>
            <textarea class="form-control" id="chatDescription" rows="3" name="chatDescription"></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Create</button>
    </form>
    <button class="btn btn-primary" id="createButton" onclick="createForm()" type="button">Create chat</button>

</div>
<hr>

#{if user}
<div id="chat-list" class="container">
    <div class="row row-cols-4">
        #{list chats, as:'chat'}
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                ${chat.name}
                </div>
                <div class="card-body">
                    <p class="card-text">
                    ${chat.description}
                    </p>
                    <a class="btn btn-primary" href="/dashboard/server/${server.id}/chat/${chat.id}">Go
                        to ${chat.name}</a>
                </div>
            </div>
        #{/list}
    </div>
</div>
#{/if}
