#pageContent {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#theme-selector {
  display: flex;
  justify-content: center;
  padding: 10px;
}

body{
  background-image: url( '/public/images/Luminous Trails@1x-100.0s-1366px-1236px.svg' );;
  font-family: 'Poppins', sans-serif;
}
#contributors {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
}